* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(199, 215, 212);
}
html{
  height: 100%;
}

body{
  height: 100%;
  background: linear-gradient(180deg, rgb(4, 0, 73) 30%, rgb(58, 31, 0) 70%) no-repeat;
  margin: 0;
}

#root{
    height: 100%;
}

.App {
  text-align: center;

}

.header{
  font-size: 4vh;
  border-bottom: 3px solid rgb(255, 255, 255); 
  height: 7%;
  padding-top: 10px; 
  padding-bottom: 10px;
  
}


.container div{
  align-items: center;
  font-size: 3vh;
  width: 16vh;
  height: 16vh;
  background-color: rgb(85, 0, 0);
  margin: 10px;
  
}

.container div:active {
  background-color: rgb(58, 0, 0);
  
}



.container{
  height: 100%;
  margin: 20px;
  margin-top: 40vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
}



.close{
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 5vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
    background: linear-gradient(90deg, rgb(255, 0, 0) 40%,  rgb(34, 0, 255) 100%) no-repeat;
  
}


a{
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cards{
  background-image: url('icon/icon002.png');
  background-size: 160px;
  background-position: 0px -0.6vh;
  border-radius: 15px;
}
.shop{
  background-image: url('icon/icon001.png');
  background-size: 160px;
  background-position: 0px -1.3vh;
  border-radius: 15px;
}
.drop{
  background-image: url('icon/icon003.png');
  background-size: 160px;
  background-position: 0px -0.4vh;
  border-radius: 15px;
}
.craft{
  background-image: url('icon/icon004.png');
  background-size: 160px;
  background-position: 0px -0.4vh;
  border-radius: 15px;
}

